.hero {
  background-image: url("/assets/kobby-mendez-xBFTjrMIC0c-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh;
}
.hero-heading {
  position: relative;
}
#hero-title {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
}
