:root {
  --white: #ffffea;
  --sixty: #89e5e4;
  --sixtyTRANSPARENT: #89e5e392;
  --thirty: #c3acce;
  --ten: #ffed66;
  --heading: "Raleway", sans-serif;
  --text: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--text);
}

/* logo img */
#logo {
  width: 3.5rem;
  padding-left: 1rem; 
  padding-top: 0.5rem;
  padding-bottom: 0.2rem;
  background-color: transparent;
}

li, a, ul, .menu-text, .logo-img, #logo, svg, p {
  background-color: transparent;
}

/*mobile first*/
#main-nav {
  display: none;
}

/* opened nav bar class toggle js */
#main-nav.open {
  display: flex;
  padding-top: 10svh; 
}

/* the actual bar */
#nav-bar {
  display: flex;
  justify-content: space-between;
  z-index: 10000;
  width: 100%;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: var(--sixtyTRANSPARENT);
  margin: 0;
  padding: 0;
}

/* burger menu icon */
#nav-expand-button {
  position: absolute;
  right: 1rem;
  top: 0.6rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 10000;
}

#nav-expand-button:hover {
  fill: var(--ten);
}

/* ul elements of menu */
#nav-bar ul {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  list-style: none;
  text-align: end;
  gap: 1rem;
  margin-right: 1.7rem;
  margin-bottom: 1rem;
}

#nav-bar ul a {
  text-decoration: none;
}

/* screen-reading menu */
.visually-hidden {
  height: 0;
  width: 0;
  overflow: hidden;
  font-size: 0;
  display: none;
}

/* space for the nav-bar */
#drink-card-api {
  padding-top: 70px;
}

/* pop up  */
.modal {
  display: none; 
  position: fixed; 
  z-index: 10000;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  margin-bottom: 3rem;
  overflow: hidden; 
  background-color: rgba(255, 255, 255, 0.326);
  backdrop-filter: blur(2px) opacity(90%);
}

/* container of img + text */
.modal-content {
  width: 80%;
  height: 43rem;
  background-color: var(--white);
  margin: auto;
  padding: 1rem;
  border: none;
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 0.6rem;
  box-shadow: 6px 6px 3px rgb(170, 170, 170), inset 0rem 6rem 0 var(--sixty), inset 0rem 12rem 0 var(--ten);
  font-size: 80%;
}

/* img + text */
#modal-text {
  padding: 0 1rem 0 1rem;
  background-color: transparent;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin: 0.2rem auto auto auto;
}

/* X buttone on modal */
.close {
  color: #aaaaaa;
  align-self: flex-end;
  font-size: 1.7rem;
  font-weight: bold;
  padding-right: 1rem;
  background-color: transparent;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#drink-title {
  font-size: 2.3rem;
  padding-bottom: 1rem;
}

/* api drink img */
#img-api {
  max-width: 14rem;
  object-fit: cover;
  border-radius: 1rem;
  border-left: 1rem solid var(--thirty);
}

/* 1st text area */
.text1-container {
  padding-top: 0.1rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  border-spacing: 1rem;
}

th, td {
  padding: 0.1rem;
}

td:nth-of-type(even) {
  text-align: right;
}

tr:nth-child(even) {
  background: linear-gradient(to right, var(--white), var(--sixty));
}

/* 2nd text area */
.text2-container {
  border-left: 1rem solid var(--thirty);
  border-radius: 1rem;
  padding-top: 0.1rem;
  padding-left: 0.1rem;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

/* width of instruction text box */
.instruction-wrapper {
  width: 15rem;
}



@media screen and (min-width: 900px){
  * {
    background-color: transparent;
  }

  #logo {
    width: 5.4rem;
    padding-bottom: 0.3rem;
    padding-left: 2rem;
  }

  #nav-bar {
    width: 100%;
  }

  #nav-bar ul {
    flex-flow: row nowrap;
    list-style: none;
    justify-content: space-between;
    gap: 3rem;
    margin-top: 1rem;
  }

  li, a, ul, .menu-text, .logo-img, #logo {
    background-color: transparent;
  }

  #main-nav {
    display: inline-block;
    background-color: transparent;
  }

  #nav-expand-button {
    display: none;
  }

  #main-nav.open {
    padding-top: 0;
  }

  .modal-content {
    box-shadow: 6px 6px 3px rgb(170, 170, 170), inset 6rem 0 var(--sixty), inset 12rem 0 var(--ten);
    height: 35rem;
    padding: 2rem;
  }

  #modal-text {
    flex-direction: row;
    margin: auto;
    gap: 2.1rem;
  }

  #img-api {
    max-width: 24rem;
  }

  th, td {
    padding: 0.6rem;
  }

  .text1-container {
    padding-top: 2rem;
    gap: 1rem;
  }

  .text2-container {
    border-left: 1rem solid var(--thirty);
    border-radius: 1rem;
    padding-top: 2rem;
    padding-left: 1.3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .instruction-wrapper {
    width: 22rem;
  }
}